* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

img {
    width: 50%;
    margin-top: 100px;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 30px;
    position: fixed;
    width: 100%;
}

footer {
    bottom: 0;
}