* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #0097a7;
    text-align: center;
}

header, footer {
    background-color: #007c91;
    /* color: white; */
    width: 100%;
    padding: 5px;
}

footer {
    position: fixed;
    bottom: 0;
}

/* .counter-box {
    margin-top: 10%;
} */

.counter-display {
    /* background-color: #E1E2E1; */
    padding: 30px;
}

.message {
    font-size: 1.5rem;
}

.counter-num {
    font-size: 3rem;
    word-break: break-all;
    padding-top: 20px;
    padding-bottom: 50px;
}

.btn {
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
    background-color: #ffeb3b;
    border-radius:  20%;
    border: none;
    cursor: pointer;
    margin: 5px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
}

/* .counter-btn {
    margin-top: -50px;
} */

.btn-md {
    border-radius: 20%;
    width: 80px;
    height: 80px;
}

.btn-sx {
    border-radius: 5% 20%;
}

.btn-dx {
    border-radius: 20% 5%;
}

@media screen and (max-width: 300px) {
    .counter-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .btn-sx, .btn-dx {
        border-radius: 20%;
    }
}
